In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# loading the data
hours_of_class_df = pd.read_csv("data/hours_of_class.csv")
hours_of_class_df.head()

   Id        Date  How Many Hours
0   1  2021-01-04             8.0
1   2  2021-01-05             8.0
2   3  2021-01-07             8.0
3   4  2021-01-08             2.0
4   5  2021-01-06             7.0

In [4]:
hours_of_class_df.describe()

              Id  How Many Hours
count  46.000000       46.000000
mean   24.369565        2.326087
std    13.624094        2.648306
min     1.000000        0.000000
25%    13.250000        0.000000
50%    24.500000        1.000000
75%    35.750000        4.000000
max    47.000000        8.000000

In [5]:
hours_of_class_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              46 non-null     int64
 1   Date            46 non-null     object
 2   How Many Hours  46 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.2+ KB

In [6]:
# lets convert to relevant data types
hours_of_class_df.drop(columns=["Id"], inplace=True)

In [8]:
# convert date
from datetime import datetime

hours_of_class_df["Date"] = pd.to_datetime(hours_of_class_df["Date"])
hours_of_class_df.dtypes

Date              datetime64[ns]
How Many Hours           float64
dtype: object

In [9]:
hours_of_class_df.head()

        Date  How Many Hours
0 2021-01-04             8.0
1 2021-01-05             8.0
2 2021-01-07             8.0
3 2021-01-08             2.0
4 2021-01-06             7.0

In [27]:
# loading the next data
hours_self_studied_df = pd.read_csv("data/hours_self_studied_2.csv")

In [28]:
hours_self_studied_df.head()

   Id               Date  Duration
0   1  2021-01-16  22:17       1.0
1   2  2021-01-17  03:15       2.0
2   3  2021-01-18  02:44       1.0
3   4  2021-01-19  03:24       1.0
4   5  2021-01-20  10:06       2.0

In [29]:
# removing id col, converting date
hours_self_studied_df.drop(columns=["Id"], inplace=True)
hours_self_studied_df["Date"] = pd.to_datetime(hours_self_studied_df["Date"])

In [30]:
hours_self_studied_df.head()

                 Date  Duration
0 2021-01-16 22:17:00       1.0
1 2021-01-17 03:15:00       2.0
2 2021-01-18 02:44:00       1.0
3 2021-01-19 03:24:00       1.0
4 2021-01-20 10:06:00       2.0

In [32]:
hours_self_studied_df.describe()

                                Date    Duration
count                            177  177.000000
mean   2021-04-18 11:44:26.440678144    1.887006
min              2021-01-16 22:17:00    0.000000
25%              2021-03-06 03:07:00    0.500000
50%              2021-04-19 15:02:00    1.500000
75%              2021-06-03 01:55:00    3.000000
max              2021-07-18 05:04:00    8.000000
std                              NaN    1.719276

In [15]:
# importing the third data
hours_of_class_df = pd.read_csv("data/hours_of_class.csv")
hours_of_class_df.head()

   Id        Date  How Many Hours
0   1  2021-01-04             8.0
1   2  2021-01-05             8.0
2   3  2021-01-07             8.0
3   4  2021-01-08             2.0
4   5  2021-01-06             7.0

In [16]:
# removing id and converting date
hours_of_class_df.drop(columns=["Id"], inplace=True)
hours_of_class_df["Date"] = pd.to_datetime(hours_of_class_df["Date"])
hours_of_class_df.head()

        Date  How Many Hours
0 2021-01-04             8.0
1 2021-01-05             8.0
2 2021-01-07             8.0
3 2021-01-08             2.0
4 2021-01-06             7.0

In [17]:
hours_of_class_df.dtypes

Date              datetime64[ns]
How Many Hours           float64
dtype: object